@import "partials/mixins";

@include google-font("Lobster")
@include google-font("Merriweather")

$text-color: #243841;
$heading-font: 'Merriweather', cursive;
$heading-color: #243841;
$button-font: 'Helvetica', sans-serif;

body {
  font-family: arial;
  // background: #648880;
  background-image: url('/images/landing3.jpeg');
  // background: linear-gradient(to left, #eff7ff, #238dff);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  color: $text-color;
  height:100vh
}

.divider{
  height:auto;
  margin: 20px;
  display: block;
}

#container {
  text-align: right;
  float: right;
  margin-right: 70px;
  flex-direction: row | row-reverse | column | column-reverse;

  @include small-screens {
    text-align: center;
    margin-left: 20px;
    margin-right: 40px;
  }
}

p {
  font-size: 25px;
  font-style: italic;
  margin-bottom: 30px;
  @include small-screens {
    font-size: 15px;
  }

}

h1 {
  text-align: right;
  letter-spacing: 1px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 3.5em;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;

  @include small-screens {
    font-size: 2.5em;
    text-align: center;
  }
}

#seasons {

}

button {
  @include ghost-button;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: center;
  align: center;

  @include small-screens {
    text-align: auto;
  }
}
