@import "partials/mixins";

@include google-font("Lobster")
@include google-font("Merriweather")

$main-color: #243841;
$heading-font: 'Merriweather', cursive;
$button-font: 'Helvetica', sans-serif;

body {
  font-family: arial;
  background-image: url('/images/landing3.jpeg');
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  color: $main-color;
  height:100vh
}

.divider{
  height:auto;
  margin: 10px;
  display: block;
}

#container {
  text-align: right;
  float: right;
  margin-right: 70px;

  @include small-screens {
    text-align: center;
    float: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}

p {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 30px;
  @include small-screens {
    font-size: 15px;
  }

}

h1 {
  text-align: right;
  letter-spacing: 1px;
  font-family: $heading-font;
  font-size: 3.5em;
  margin-top: 30px;
  margin-bottom: 30px;

  @include small-screens {
    font-size: 2.5em;
    text-align: center;
  }
}
.image {
  border: solid;
  border-color: $main-color;
  border-width: 5px;
  position: relative;
  width: 50%;
  text-align: center;
  margin: 0;
  max-height: 400px;

  @include small-screens {
    border-width: 2px;
    width: 90%;
  }
}

button {
  font-weight: bold;
  @include ghost-button;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: center;
  align: center;

  @include small-screens {
    text-align: auto;
  }
}
