@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font})
}

@mixin ghost-button {
  font: $button-font;
  background-color: transparent;
  border-color: white;
  border-width: 2px;
  border-radius: 25px;
  color: white;
  font-size: 2em;
  height: 80px;
  width: 200px;
  text-align: center;
  left: 50%;
  transition: background-color 0.3s ease-out,
            border-color 0.3s ease-out;

  &:hover {
    background-color: #fff; /* fallback */
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #fff; /* fallback */
    border-color: rgba(255, 255, 255, 0.4);
  }

  &:active{
    background-color: rgba(255, 255, 255, 0.8);;
    color: white;
    border-color: #fff; /* fallback */
    border-color: rgba(255, 255, 255, 0.4);
  }
}
